<!DOCTYPE html>
<html>
<head>
  <title>Blogtastic</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Josefin+Slab:400,600' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="overlay">
  </div>


  <div class="container">
    <div class="home">
      <%= link_to "Home", controller: "welcome"  %>
    </div>

    <%= yield %>
  </div>

</body>
</html>
